@using eShop.WebApp.Components.Chatbot
@inherits LayoutComponentBase

<div class="site-wrapper backcountry-theme">
    <HeaderBar />
    <main class="main-content">
        @Body
    </main>
    <ShowChatbotButton />
    <FooterBar />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
